<div class="row-fluid">
	<div class="span6 offset2">
		<canvas id="the-canvas" style="border:1px solid black;"/>
	</div>
	<div class="span2" ng-controller="CommentCtrl">
		[<a href="#/permissions">Edit Permissions and Manage Users</a>]
		<h2>Comments</h2>
		<div>
		  <span>{{comments.length}} comments {{replies()}} replies</span>
		  [<a href="" ng-click="refresh()">refresh</a>]
		  <form ng-submit="addComment()">
			<input type="text" ng-model="commentText"  size="30" placeholder="new comment">
			<input class="btn-primary" type="submit" value="add">
		  </form>
		  <ul class="unstyled">
			<li ng-repeat="comment in comments">
				<img src={{comment.picture}} alt={{reply.name}} width=64 height=64 />{{comment.text}}
				<ul>
					<li ng-repeat="reply in comment.replies">
					<img src={{reply.picture}} alt={{reply.name}} width=32 height=32 />{{reply.text}}
					</li>
				</ul>
			</li>
		  </ul>
		</div>
    </div>
</div>
<script type="text/javascript" src="apdf.js/examples/helloworld/hello.js"></script>