<div class="row-fluid">
	<div class="span4"><h2>Permissions</h2>
		<div ng-controller="FileCtrl">
			<form ng-submit="uploadFile">
				<p>Upload a file from your computer</p>
				<input type="file"></input>
			</form>
		</div>
    </div>
	<div class="span4"><h2>Users</h2>
		<div ng-controller="UserCtrl">
			<span>{{users.length}} can view and make comments</span>
			<form ng-submit="addUser()">
				<input type="text" ng-model="userEmail" size="30" placeholder="Email">
				<input class="btn-primary" type="submit" value="add">
			</form>
			<ul class="unstyled">
				<li ng-repeat="user in users">
					<img src={{user.picture}} alt={{user.name}} width=64 height=64 />{{user.name}}
				</li>
			</ul>
		</div>
	</div>
</div>